---
import type { SlateEventNodeProps } from '@ty/slate';
import type { CollectionEntry } from 'astro:content';
import RichText from '@components/RichText/index.astro';
import Player from '@components/Player';
import Annotations from './AnnotationUI/Annotations/index.astro';
import AnnotationHeader from './AnnotationUI/AnnotationHeader.astro';
import ConditionalContainer from './ConditionalContainer.astro';

interface Props extends SlateEventNodeProps {
  annotationSets: CollectionEntry<'annotations'>[];
  event: CollectionEntry<'events'>;
  file: string;
  isEmbed?: boolean;
  playerId: string;
}

const {
  // include everything by default
  includes,
  start,
  end,
  event,
  file,
  annotationSets,
  isEmbed,
  playerId,
} = Astro.props;

const url = event.data.audiovisual_files[file].file_url;
---

<div>
  <div
    class={`sticky ${includes.includes('label') ? 'top-[80px]' : 'top-0'} z-10 ${!isEmbed ? 'shadow' : ''}`}
  >
    <div class='flex flex-col gap-6 bg-gray-100 py-6'>
      <ConditionalContainer condition={!isEmbed}>
        {includes.includes('label') && <h1>{event.data.label}</h1>}
        {
          includes.includes('description') && event.data.description && (
            <RichText nodes={event.data.description} />
          )
        }
      </ConditionalContainer>
      <div
        class='mediaContainer gap-4 flex flex-col'
        data-player-id={playerId}
        data-player-url={url}
      >
        {
          includes.includes('media') && (
            <ConditionalContainer condition={!isEmbed}>
              <Player
                url={url}
                id={playerId}
                client:only='react'
                type={event.data.item_type}
                start={start}
                end={end}
              />
            </ConditionalContainer>
          )
        }
      </div>
      <ConditionalContainer condition={!isEmbed}>
        <AnnotationHeader
          playerId={playerId}
          annotationSets={annotationSets}
          type={event.data.item_type}
        />
      </ConditionalContainer>
    </div>
  </div>
  <ConditionalContainer condition={!isEmbed}>
    <Annotations
      annotationSets={annotationSets}
      isEmbed={isEmbed}
      playerId={playerId}
      type={event.data.item_type}
    />
  </ConditionalContainer>
</div>
