---
import type { SlateEventNodeProps } from '@ty/slate';
import type { CollectionEntry } from 'astro:content';
import RichText from '@components/RichText/index.astro';
import Player from '@components/Player';
import Annotations from './AnnotationUI/Annotations/index.astro';
import AnnotationHeader from './AnnotationUI/AnnotationHeader.astro';
import ConditionalContainer from './ConditionalContainer.astro';
import AudioFilePicker from './AudioFilePicker';
import ComparisonFilePicker from './ComparisonFilePicker';

interface Props extends SlateEventNodeProps {
  annotationSets: CollectionEntry<'annotations'>[];
  event: CollectionEntry<'events'>;
  file: string;
  isEmbed?: boolean;
  playerId: string;
  isComparison?: boolean;
}

const {
  // include everything by default
  includes,
  start,
  end,
  event,
  file,
  annotationSets,
  isEmbed,
  isComparison,
  playerId,
} = Astro.props;
---

<div>
  <div class={`sticky top-0 z-10 ${!isEmbed ? 'shadow' : ''}`}>
    <div class='flex flex-col gap-6 bg-gray-100 py-6 [&_p]:mb-0!'>
      <ConditionalContainer condition={!isEmbed}>
        <div class='flex justify-between'>
          {
            includes.includes('label') && (
              <h1
                class={`font-bold ${isComparison ? 'text-2xl' : 'text-[32px]'}`}
              >
                {event.data.label}
              </h1>
            )
          }
          {
            isComparison &&
              Object.keys(event.data.audiovisual_files).length > 1 && (
                <ComparisonFilePicker
                  event={event}
                  playerId={playerId}
                  initialFile={file}
                  client:load
                />
              )
          }
        </div>
        {
          includes.includes('description') && event.data.description && (
            <RichText nodes={event.data.description} />
          )
        }
      </ConditionalContainer>
      <div class='mediaContainer gap-4 flex flex-col' data-player-id={playerId}>
        {
          includes.includes('media') && (
            <ConditionalContainer condition={!isEmbed}>
              {/* only show the picker if
                  1. there's more than AV file
                  2. this is not an embed of a single AV file
                  3. this is not a comparison (we use a separate picker for that :/) */}
              {!start &&
                !end &&
                Object.keys(event.data.audiovisual_files).length > 1 &&
                !isComparison && (
                  <AudioFilePicker
                    event={event}
                    playerId={playerId}
                    client:load
                  />
                )}
              <Player
                id={playerId}
                client:load
                event={event}
                start={start}
                initialFile={file}
                end={end}
              />
            </ConditionalContainer>
          )
        }
      </div>
      <ConditionalContainer condition={!isEmbed}>
        <AnnotationHeader
          playerId={playerId}
          annotationSets={annotationSets}
          isComparison={isComparison}
          type={event.data.item_type}
        />
      </ConditionalContainer>
    </div>
  </div>
  <ConditionalContainer condition={!isEmbed}>
    <Annotations
      annotationSets={annotationSets}
      playerId={playerId}
      type={event.data.item_type}
      initialFile={file}
    />
  </ConditionalContainer>
</div>
