---
interface Tab {
  title: string;
  uuid: string;
}

interface Props {
  playerId: string;
  renderIcon?: (tab: Tab) => any;
  tabs: Tab[];
}

const props = Astro.props;
---

<div class='event-detail-tabs-container'>
  {
    props.tabs.map((tab: Tab) => (
      <Fragment key={tab.uuid}>
        <button
          class='event-detail-tab-button'
          data-player-id={props.playerId}
          id={`av-tab-${tab.uuid}`}
          type='button'
        >
          {props.renderIcon && props.renderIcon(tab)}
          {tab.title}
        </button>
      </Fragment>
    ))
  }
</div>

<script>
  import { $pagePlayersState } from 'src/store.ts';
  const tabButtons = document.querySelectorAll('.event-detail-tab-button');

  tabButtons.forEach((button) => {
    const uuid = button.id.replace('av-tab-', '');
    const playerId = button.getAttribute('data-player-id') as string;

    button.addEventListener('click', () => {
      $pagePlayersState.setKey(`${playerId}.avFileUuid`, uuid);
    });
  });

  $pagePlayersState.listen((changed) => {
    if (!changed) {
      return null;
    }

    tabButtons.forEach((button) => {
      const uuid = button.id.replace('av-tab-', '');
      const playerId = button.getAttribute('data-player-id') as string;

      if ($pagePlayersState.get()[playerId].avFileUuid === uuid) {
        button.classList.add('event-detail-selected-tab');
      } else {
        button.classList.remove('event-detail-selected-tab');
      }
    });
  });
</script>

<style>
  .event-detail-tabs-container {
    display: flex;
    box-sizing: border-box;
    height: 36px;
  }

  .event-detail-tabs-container .event-detail-tab-button {
    display: flex;
    height: 36px;
    padding: 0px 16px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    background: none;
    color: #000000;
    box-shadow: none;
    z-index: 2;
    position: relative;
    top: 1px;
    font-size: 14px;
    font-weight: 400;
    border: none;
    border-radius: 5px 5px 0px 0px;
  }

  .event-detail-tabs-container .event-detail-tab-button:hover {
    background-color: none !important;
    filter: none !important;
  }

  .event-detail-tabs-container .event-detail-selected-tab {
    background: #f6f6f6;
    font-weight: 600;
    border-top: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
    border-left: 1px solid #e5e5e5;
    border-bottom: none;
  }

  .event-detail-tab-content .event-detail-selected-tab {
    background: #f6f6f6;
  }

  .event-detail-tab-content .annotation-table-container {
    padding: 10px;
  }
</style>
