---
import RichText from '@components/RichText/index.astro';
import { PlayCircleIcon } from '@heroicons/react/24/outline';
import TagPill from '@components/TagUtils/TagPill';
import { formatTimestamp } from 'src/utils/player';
import { getEntry } from 'astro:content';
import type { Annotation, DisplayedAnnotation } from '@ty/index';
import { PopupWindow } from '@components/PopupWindow';

interface Props {
  ann: DisplayedAnnotation;
  playerId: string;
  setName?: string;
  file: string;
}

const MAX_VISIBLE_TAGS = 4;
const { ann, file, playerId, setName } = Astro.props;

const projectData = await getEntry('project', 'project');
const tagGroups = projectData.data.project.tags.tagGroups;
const visibleTags: { tag: string; color: string }[] = [];
const hiddenTags: { tag: string; color: string }[] = [];

ann.tags.forEach((tag, idx) => {
  const group = tagGroups.find(
    (group) => group.category.toLowerCase() == tag.category.toLowerCase()
  );
  if (idx < MAX_VISIBLE_TAGS) {
    visibleTags.push({
      tag: tag.tag,
      color: group ? group.color : '#FFF',
    });
  } else {
    hiddenTags.push({
      tag: tag.tag,
      color: group ? group.color : '#FFF',
    });
  }
});
---

<div
  class={`annotationNode flex flex-row justify-between gap-4 p-4 my-4 scroll-my-20 rounded-md bg-white ${ann.file === file ? '' : 'hidden'}`}
  data-start={ann.start_time}
  data-end={ann.end_time}
  data-file={ann.file}
  data-tags={JSON.stringify(ann.tags)}
  data-set={ann.set}
  data-uuid={ann.uuid}
>
  <div class='flex flex-row gap-2 w-[120px] items-start'>
    <button
      class='playAnnotation'
      data-start={ann.start_time}
      data-end={ann.end_time}
      data-player-id={playerId}
      data-file={ann.file}
    >
      <PlayCircleIcon className='h-6 w-6' />
    </button>
    <p class='font-semibold text-sm'>
      {`${formatTimestamp(ann.start_time)}`}&nbsp;- {
        `${formatTimestamp(ann.end_time)}`
      }
    </p>
  </div>
  <div class='w-full flex flex-col gap-4 text-sm'>
    {
      setName && (
        <div>
          <span class='text-xs font-semibold bg-gray-200 py-1 px-2 rounded-md'>
            {setName}
          </span>
        </div>
      )
    }
    <RichText nodes={ann.annotation} />
    <div
      class='flex flex-row gap-[6px] annotationTags flex-wrap'
      data-player-id={playerId}
    >
      {visibleTags.map((t) => <TagPill tag={t.tag} color={t.color} />)}
      <PopupWindow count={hiddenTags.length} client:load>
        {hiddenTags.map((t) => <TagPill tag={t.tag} color={t.color} />)}
      </PopupWindow>
    </div>
  </div>
</div>
