---
import { getEntry } from 'astro:content';
import { dynamicConfig } from 'dynamic-astro-config';
import { getPages } from 'src/utils/pages';

const projectData = await getEntry('project', 'project');

const baseUrl = import.meta.env.PROD
  ? projectData.data.publish_pages_app
    ? projectData.data.project.slug
    : '/'
  : dynamicConfig.base;

const pages = await getPages();

const homePage = pages.find((p) => p.data.autogenerate.type === 'home');

if (!homePage) {
  throw new Error('No homepage found?!?');
}
---

<div class='py-4 flex flex-col gap-2'>
  <a class='underline' href={`/${baseUrl}`}>
    {homePage.data.title}
  </a>
  {
    pages
      .filter((page) => page.id !== homePage.id)
      .map((page) => (
        <a
          class={`underline ${page.data.parent ? 'ml-4' : ''}`}
          href={`/${baseUrl}/${page.data.autogenerate.enabled ? 'events' : 'pages'}/${page.data.slug || page.id}`}
        >
          <p>{page.data.title}</p>
        </a>
      ))
  }
  <a class='underline' href={`/${baseUrl}/tags`}>Index</a>
</div>
