---
import { Node, Text } from 'slate';
import RichTextElement from './RichTextElement.astro';
import RichTextLeaf from './RichTextLeaf.astro';

const { nodes, isHomePage } = Astro.props;
---

<div>
  {
    (() => {
      const serialize = (node: Node) => {
        if (Text.isText(node)) {
          return (
            <RichTextLeaf attributes={{ ...node }} leaf={node}>
              {node.text}
            </RichTextLeaf>
          );
        }

        if (node.children) {
          const children = node.children.map((n) => serialize(n));
          return (
            <RichTextLeaf leaf={node}>
              <RichTextElement element={node}>{children}</RichTextElement>
            </RichTextLeaf>
          );
        } else {
          return (
            <RichTextLeaf leaf={node}>
              <RichTextElement element={node} />
            </RichTextLeaf>
          );
        }
      };

      return (
        <div class='[overflow-wrap:anywhere]'>
          {nodes.map((node: Node) => serialize(node))}
        </div>
      );
    })()
  }
</div>
