---
import { Node, Text } from 'slate';
import RichTextElement from './RichTextElement.astro';
import RichTextLeaf from './RichTextLeaf.astro';

const { nodes, lines } = Astro.props;
---

<style define:vars={{ lines: lines }}>
  .text-clip {
    display: -webkit-box;
    -webkit-line-clamp: var(--lines);
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    word-break: break-word;
    overflow-wrap: break-word;
  }

  .see-more:after {
    content: 'See More';
  }

  .see-less:after {
    content: 'See Less';
  }
</style>

<div>
  {
    (() => {
      const serialize = (node: Node) => {
        if (Text.isText(node)) {
          return (
            <RichTextLeaf attributes={{ ...node }} leaf={node}>
              {node.text}
            </RichTextLeaf>
          );
        }

        if (node.children) {
          const children = node.children.map((n) => serialize(n));
          return (
            <RichTextLeaf leaf={node}>
              <RichTextElement element={node}>{children}</RichTextElement>
            </RichTextLeaf>
          );
        } else {
          return (
            <RichTextLeaf leaf={node}>
              <RichTextElement element={node} />
            </RichTextLeaf>
          );
        }
      };

      return (
        <div class='rte-container'>
          <div id='rte-content'>
            <div id='rte-text' class='text-clip'>
              {nodes.map((node: Node) => serialize(node))}
            </div>
          </div>
          <button
            id='expand-link'
            class='see-more-link see-more hidden tag-pill rounded-full text-xs flex-row justify-center px-3 py-1.5 gap-1 cursor-pointer bg-gray-200 my-2'
          />
        </div>
      );
    })()
  }
</div>

<script>
  window.document.addEventListener('DOMContentLoaded', () => {
    const containers = document.querySelectorAll('.rte-container');
    for (const container of containers) {
      const text = container.querySelector('#rte-text') as HTMLElement;
      const expandLink = container.querySelector('#expand-link') as HTMLElement;
      const content = container.querySelector('#rte-content') as HTMLElement;

      expandLink?.addEventListener('click', (event) => {
        if (expandLink.classList.contains('see-more')) {
          expandLink.classList.remove('see-more');
          expandLink.classList.add('see-less');
          text?.classList.remove('text-clip');
        } else {
          expandLink.classList.remove('see-less');
          expandLink.classList.add('see-more');
          text?.classList.add('text-clip');
        }
      });

      if (text && content && expandLink) {
        const determineShowMore = () => {
          if (text.scrollHeight === 0) {
            setTimeout(() => {
              determineShowMore();
            }, 20);
          } else if (text.scrollHeight > content.offsetHeight) {
            expandLink.style.display = 'flex';
          } else {
            expandLink.style.display = 'none';
          }
        };

        determineShowMore();
      }
    }
  });
</script>
